<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<span class="number">1</span>
				<h3 class="payment-heading"> Shipping Information </h3>
				<hr>
				<form ng-submit="addShippingAddress()" id="shippingForm" class="form center-block payment-form-padding">
					<div class="form-group">
						<input type="text" autofocus="" required="" ng-model="shippingAddress.first_name" placeholder="First Name" class="form-control input-lg">
					</div>
					<div class="form-group">
						<input type="text" autofocus="" required="" ng-model="shippingAddress.last_name" placeholder="Last Name" class="form-control input-lg">
					</div>
					<div class="form-group">
						<input type="text" autofocus="" required="" ng-model="shippingAddress.phone_no" placeholder="Phone No." class="form-control input-lg">
					</div>
					<div class="form-group">
						<input type="text" autofocus="" required="" ng-model="shippingAddress.address" placeholder="Address" class="form-control input-lg">
					</div>
					<div class="form-group">
						<input type="text" autofocus="" required="" ng-model="shippingAddress.city" placeholder="City" class="form-control input-lg">
					</div>
					<div class="form-group">
						<input type="text" autofocus="" required="" ng-model="shippingAddress.state" placeholder="State" class="form-control input-lg">
					</div>
					<div class="form-group">
						<input type="text" autofocus="" required="" ng-model="shippingAddress.zip_code" placeholder="Zip Code" class="form-control input-lg">
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-lg btn-block" id="shippingAddressSubmitButton" type="submit">Continue</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<span class="number">2</span>
				<h3 class="payment-heading"> Payment Information </h3>
				<hr>
				<form ng-submit="saveCheckoutDetails()" id="paymentForm" class="form center-block payment-form-padding">
					<div class="form-group">
						<input type="text" autofocus="" required="" ng-model="payment.cardNumber" placeholder="XXXX-XXXX-XXXX-XXXX" class="form-control input-lg">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-6">
								<select name="colors" class="form-control" title="Choose 2-4 colors">
									<option value="1">01 (Jan)</option>
									<option value="2">02 (Feb)</option>
									<option value="3">03 (Mar)</option>
									<option value="4">04 (Apr)</option>
									<option value="5">05 (May)</option>
									<option value="6">06 (Jun)</option>
									<option value="7">07 (Jul)</option>
									<option value="8">08 (Aug)</option>
									<option value="9">09 (Sep)</option>
									<option value="10">10 (Oct)</option>
									<option value="11">11 (Nov)</option>
									<option value="12">12 (Dec)</option>
								</select>
							</div>
							<div class="col-xs-6">
								<select name="colors" class="form-control" title="Choose 2-4 colors">
									<option value="1">2014</option>
									<option value="2">2015</option>
									<option value="3">2016</option>
									<option value="4">2017</option>
									<option value="5">2018</option>
									<option value="6">2019</option>
									<option value="7">2020</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<input type="password" required="" ng-model="payment.cvc" placeholder="CVC" class="form-control input-xs">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<img src="images/security.png" class="img-responsive">
						</div>
						<div class="col-md-8">
							<p class="security info">What, well you mean like a date? Doc? Am I to understand you're still hanging around with Doctor Emmett Brown, McFly? Tardy slip for you, Miss Parker. And one for you McFly I believe that makes four in a row.</p>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-lg btn-block" id="paymentSubmitButton" type="submit">
							{{buttonStateForPayment}}
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<form ng-submit="completeOrder()" id="completeOrderForm" class="form">
				<div class="thumbnail payment-row-padding">
					<span class="number">3</span>
					<h3 class="payment-heading"> Finalize Order </h3>
					<hr>
					<div class="row" ng-repeat="item in cart">
						<div class="col-md-6">
							<img src="{{item.img_url}}" class="img-responsive payment-time-img-box">
						</div>
						<div class="col-md-6">
							<label> {{item.price | currency : "Rs. " : "0" }}</label>
						</div>
						<hr>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<label>Subtotal</label>
						</div>
						<div class="col-md-6 pull-right">
							<label> {{totalAmount | currency : "Rs. " : "0"}}</label>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-1">
							<label class="sub">Shipping:</label>
						</div>
						<div class="col-md-11 pull-right">
							<div class="shipping-address-template">
								<div>{{shippingAddress.first_name}} &nbsp; {{shippingAddress.last_name}}</div>
								<div>{{shippingAddress.address}}</div>
								<div>{{shippingAddress.city}} &nbsp; , &nbsp; {{shippingAddress.zip_code}}</div>
								<div>{{shippingAddress.phone_no}}</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block">
							{{buttonStateForCompleteOrder}}
						</button>
						<span class="sub">By selecting this button you agree to the purchase and subsequent payment for this order.</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
